doctype html
html
  head
    title Our Guests!
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css')
  body
    .container
      .row
        .col-sm-12
          table.table.table-striped
            thead
              tr
                th First Name
                th Last Name
                th Address 1
                th Address 2
                th City
                th State
                th Zipcode
                th Email
            tbody
              each guest, i in guestlist
                tr
                  td= guest.firstName
                  td= guest.lastName
                  td= guest.address1
                  td= guest.address2
                  td= guest.city
                  td= guest.state
                  td= guest.zip
                  td= guest.email
                  td
                    a(href='/delete/#{guest._id}') Delete




